.footer {
  display: flex;
  width: 100vw;
  height: 30vh;
  flex: 1;
  padding: 2rem 0;
  background-color: $base;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    height: 250px;
  }
}
